.chat_button {
  border: 1px solid black;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 15px;
  font-size: 15px;
}

.testing_process_need_to_give_valid_name {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.chat_area {
  border: 1px solid lightblue;
  background-color: #0c356a;
  color: white;
  border-radius: 0 0 10px 10px;
  width: 20vw;
  position: fixed;
  right: -100%;
  bottom: 10px;
  height: 70vh;
}

.chat_btn {
  background-color: #0c356a;
}

.chat_area.open {
  /* Keep the final state after the animation */
  animation: openchat 0.1s forwards;
}

@keyframes openchat {
  0% {
    right: -90%;
  }

  100% {
    right: 10px;
  }
}

.user_head {
  height: 17%;
  border-bottom: 1px solid white;
}

.user_head,
.user_head_update {
  padding: 10px 10px 10px 0;
  display: grid;
  grid-template-areas:
    'image username closeIcon'
    'image lastlogin closeIcon';
}

.user_head .user_image,
.user_head_update .user_image {
  width: 50px;
  height: 50px;
  grid-area: image;
  border-radius: 50%;
  margin: auto;
  margin-left: 10px;
}

.user_head .user_name,
.user_head_update .user_name {
  margin: 0 10px 0 0;
  grid-area: username;
}

.user_head .lost_login,
.user_head_update .lost_login {
  grid-area: lastlogin;
  font-size: 10px;
  margin: 0 10px;
}

.user_head .close_icon,
.user_head_update .close_icon {
  grid-area: closeIcon;
  margin: 0px 0px auto auto;
  font-size: 25px;
}

.newChat_button {
  height: 10%;
  margin-top: 10px;
  margin-left: 190px;
}

.newChat_button button {
  font-size: 13px;
  text-transform: capitalize;
}

.main_chat_contents {
  height: 70%;
  overflow-y: scroll;
}

.chat_contents {
  margin: 10px 5px;
  padding: 10px;
}

.test {
  border: 1px solid red;
  margin: 10px;
  padding: 100px;
  position: relative;
}

.chat_main_box {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 60px;
}


/* -----------------------------  */

.text_area {
  border: 1px solid #0c356a;
  border-radius: 10px;
  height: 70vh;
  margin: 0 10px;
  width: 20vw;
}

.chat_text_area_heading {
  background-color: #0c356a;
  color: white;
  border-radius: 5px;
  display: grid;
  grid-template-areas:
    'profilePic profileName . . closeIcon'
    'profilePic profileTime . . closeIcon';
  padding: 10px 10px 20px 10px;
  height: 15%;
}

.chat_text_area_heading .profile-pic {
  width: 40px;
  height: 40px;
  grid-area: profilePic;
  margin: auto 5px;
}

.chat_text_area_heading .profile_name {
  grid-area: profileName;
  font-size: 15px;
  margin: auto 0;
}

.chat_text_area_heading .profile_time {
  grid-area: profileTime;
  margin: auto 0;
  font-size: 10px;
}

.chat_text_area_heading .close_individual_chat {
  grid-area: closeIcon;
  margin: 0 auto;
}

.message_area {
  display: flex;
  margin: 0 10px;
  font-size: 10px;
}

.message {
  border: 1px solid black;
  outline: 0;
  padding: 5px;
  caret-color: red;
  text-transform: capitalize;
}

.send_button {
  border: 0;
  outline: 0;
  background-color: #0c356a;
  color: white;
}

.chats_content {
  height: 78%;
  text-transform: capitalize;
  overflow-y: scroll;
}

.chats {
  width: 200px;
  text-wrap: pretty;
  overflow: hidden;
  margin: 10px 0;
}

.chats span {
  font-size: 10px;
  color: #0c356a;
  margin-left: 10px;
}

.chats_content::-webkit-scrollbar {
  width: 5px;
}

.chats_content::-webkit-scrollbar-track {
  background: transparent;

}

.chats_content::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #888;
}

.chats_content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat_msg {
  display: grid;
}

.chatmsgs {
  width: fit-content;
}

.chat-bubble.left {
  margin-left: auto;
  text-align: right;
  padding-right: 10px;
}

.chat-bubble.right {
  margin-right: auto;
  width: fit-content;
  padding-left: 10px;
}

.chat-bubble.right p {
  text-align: left;
}

.chat-bubble.right .time {
  float: left;
}

.chat-bubble .time {
  color: red;
  text-transform: capitalize;
  font-size: 10px;
  float: right;
  margin-top: -10px;
}

.suggestions_message {
  margin-top: 10px;
  display: flex;
  overflow: scroll;
  justify-content: space-around;
}

.profile-pic {
  width: 30px;
  /* Adjust as needed */
  height: 30px;
  /* Adjust as needed */
  overflow: hidden;
  /* Ensure the image doesn't exceed the specified dimensions */
  border-radius: 50%;
  /* To make it a circular profile pic */
}

.profile-pic img {
  width: 100%;
  /* Make the image fill its container */
  height: auto;
  /* Maintain the aspect ratio */
  display: block;
  /* Remove extra space below the image */
}

.suggestions_message p {
  color: white;
  background-color: gray;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 12px;
  border-radius: 10px;
}

.SuppplierLogo {
  width: 10px;
}


.search_icon {
  font-size: 20px
}

.add_vendor_icon {
  grid-area: vendor;
  background-color: gray;
  padding: 15px;
  color: white;
  border-radius: 10px;
}

.add_vendor_icon:hover {
  cursor: pointer;
}

.settings_icon {
  grid-area: settings;
  background-color: gray;
  padding: 15px;
  color: white;
  border-radius: 10px;
}

.search_box {
  padding: 5px 0;
  background-color: lightgray;
  margin: 10px auto;
  border-radius: 15px;
}

.search_box input {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: white;
}

.search_box input::placeholder {
  color: white;
}

.customer_head {
  height: 90vh;
  overflow: scroll;
}

.customer_details:hover {
  background-color: lightgray;
}


.customer_details {
  margin: 10px;
  display: grid;
  grid-template-areas:
    'userimage username usertime'
    'userimage usermessage usermessage'
  ;
  border-radius: 20px;
  padding: 5px;
}

.user_image {
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  grid-area: userimage;
}

.user_name {
  grid-area: username;
  padding-left: 10px;
  font-weight: 600;
}

.user_last_msg {
  grid-area: usermessage;
  padding-left: 10px;
}

.last_time {
  grid-area: usertime;
}

.main_content {
  width: 98%;
  height: 98%;
  margin: 1%;
}

.main_content_chats {
  position: fixed;
  right: 21%;
  bottom: 1%;
  display: flex;
}

.main_customer_head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.8fr 0.6fr 0.6fr;
  grid-template-areas:
    "user_image_main user_name_main user_name_main . . . vendor settings"
    "user_image_main user_last_seen_main user_last_seen_main  . . . vendor settings";
  align-items: center;
}

.user_image_main {
  margin: 10px;
  grid-area: user_image_main;
}

.user_name_main {
  font-weight: 600;
  grid-area: user_name_main;
  margin-top: 10px;
}

.user_last_seen_main {
  grid-area: user_last_seen_main;
}

.chat_msg_update {
  height: 75vh;
  overflow: scroll;
}

.message_send_content {
  border-radius: 10px;
  border: solid #BDBDBD 3px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.5);
}

.message_send_content input {
  border: 0;
  border-radius: 10px;
  outline: 0;
  font-size: 20px;
  padding: 15px;
  padding-left: 30px;
}

.chat_bubble_main {
  padding: 0 20px;
}

.chat_time {
  margin-top: -10px;
  font-size: 10px;
}

.chat_bubble_main.right_side .chat_time {
  margin-left: auto;
}

.send_icon_main {
  border: 0;
  background-color: transparent;
}

.chat_bubble_main.left_side {
  background-color: lightgray;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 10px 0 10px 10px;
  display: grid;
  place-content: center;
  width: fit-content;
  padding: 10px 20px;
}

.chat_bubble_main.right_side {
  background-color: rgb(93, 214, 93);
  font-size: 20px;
  padding: 10px 20px;
  margin-left: auto;
  text-transform: capitalize;
  color: white;
  border-radius: 0 10px 10px 10px;
  display: grid;
  place-content: center;
}

.button_chat {
  border: none;
  background-color: transparent;

}

.search_main {
  display: flex;
  flex-wrap: wrap;
}

.search_results {
  list-style: none;
  padding: 10px;
  margin: 5px 10px;
  background-color: lightblue;
  color: white;
  border-radius: 10px;
}

.go_up_button {
  padding: 10px;
  width: fit-content;
  margin-left: auto;
  font-size: 40px;
  position: absolute;
  right: 10px;
  bottom: 80px;
}